.select_container {
  max-width: 10rem;
  min-width: 10rem;
  margin-top: 1rem;
  color: var(--white-color);
}

.select_container fieldset {
  border-radius: 7px;
}

.select_container legend {
  margin-left: 0.5rem;
}

.drop_down_menu {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white-color);
  cursor: pointer;
  position: relative;
}

.drop_down_value {
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  padding: 0.5rem;
}

.option_container {
  background-color: var(--white-color);
  border-radius: 7px;
  list-style: none;
  position: absolute;
  width: 100%;
  top: 2.6rem;
  left: 0;
}

.option_container li {
  padding: 0.5rem;
  color: var(--dark-color);
  border-top: 1px solid var(--gray);
}

.option_container li:hover {
  background-color: var(--gray);
}

.select_container option {
  color: var(--dark-color);
}
