ul {
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.list_item {
  display: flex;
  margin: 0.5rem 0;
}

.list_item img {
  width: 3rem;
  height: auto;
  border-radius: 3px;
}

.list_item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
}

.list_item > div > div {
  width: 100%;
}

.list_item h5 {
  font-weight: 16px;
}

.list_item .fav_rating {
  font-size: 12px;
  font-weight: 500;
  color: var(--main-color);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
