.haeder_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem;
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_container {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-color);
}

.overlay {
  background-color: var(--dark-transparent-color);
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.filter_component {
  display: block;
  margin-top: 4rem;
}

.current_hero_movie_details {
  margin-top: 17rem;
}

.hero_movie_title {
  color: var(--white-color);
  font-weight: 450;
}

.hero_movie_test {
  color: var(--dark-gray);
  text-align: justify;
  padding: 1rem 0;
}

.body_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.body h2 {
  font-size: 30px;
  font-weight: 450;
  text-align: center;
  color: var(--white-color);
  border-bottom: 2px solid var(--main-color);
}

.discover_header {
  margin-top: 14rem;
}

footer {
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
}

@media (min-width: 700px) {
  .current_hero_movie_details {
    margin-top: 17rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero_movie_title {
    font-size: 50px;
  }

  .hero_movie_test {
    font-size: 20px;
    text-align: center;
    max-width: 50rem;
  }

  .hero_container {
    background-size: contain;
  }

  .overlay {
    padding: 1rem 4rem;
  }

  .filter_component {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
